{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Appointment Form</title>
    <script src="https://cdn.tailwindcss.com"></script></head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">

<div class="bg-white p-12 rounded shadow-md w-full sm:w-96">
    <h2 class="text-2xl font-semibold mb-4 text-center">Appointment Form</h2>

    <!-- Form -->
    <form method="POST" action="{% url 'appointment' %}">
        {% csrf_token %}
        <!-- Name Input -->
        <div class="mb-1">
            <label for="name" class="block text-gray-600 text-sm font-medium mb-2">Full Name</label>
            <input type="text" id="name" name="name" class="w-full px-4 py-1 border rounded focus:outline-none focus:border-[#5B21B6]">
        </div>

        <!-- Email Input -->
        <div class="mb-4">
            <label for="email" class="block text-gray-600 text-sm font-medium mb-2">Email</label>
            <input type="email" id="email" name="email" class="w-full px-4 py-1 border rounded focus:outline-none focus:border-[#5B21B6]">
        </div>
        
        <!-- Hospital Name -->
        <div class="mb-4">
            <label for="hospital" class="block text-gray-600 text-sm font-medium mb-2">Hospital Name</label>
            <input type="hospital" id="hospital" name="hospital" class="w-full px-4 py-1 border rounded focus:outline-none focus:border-[#5B21B6]">
        </div>
        <!-- Date Request -->
        <div class="mb-4">
            <label for="requestDate" class="block text-gray-600 text-sm font-medium mb-2">Requesting Date </label>
            <input type="datetime-local" id="requestDate" name="requestDate" class="w-full px-4 py-1 border rounded focus:outline-none focus:border-[#5B21B6]">
        </div>

        <!-- Date and Time Input -->
        <div class="mb-4">
            <label for="datetime" class="block text-gray-600 text-sm font-medium mb-2">Date and Time</label>
            <input type="datetime-local" id="datetime" name="datetime" class="w-full px-4 py-1 border rounded focus:outline-none focus:border-[#5B21B6]">
        </div>

        <!-- Submit Button -->
        <div class="text-center">
            <button type="submit" class="bg-[#5B21B6] text-white px-6 py-1 rounded hover:bg-violet-950 focus:outline-none focus:ring focus:border-[#5B21B6]">Get Appointment</button>
        </div>
    </form>
</div>

</body>
</html>
